.all {
  display:flex;
  flex-wrap: wrap;
  margin:2em 2em;
}
.recipe-card {
  width:90%;
  margin: 0 auto;
  max-width:250px;
  background-color: white;
  display:flex;
  flex-direction: column;
  border-radius:15px;
  border:1px solid #2f2fa2;
  min-height:100%;
  margin-bottom:2em
}
.title-index-item {
  color: white;
  color: #2f2fa2;
  opacity:.9;
  font-size:1.15rem;
  font-family:inherit;
  padding-top: .5em;
  padding-left:.2em;
  padding-right:.2em;
  padding-bottom:.5em;
  font-family: inherit;
  margin:0;
  text-align:center;
}
.image-index-item{
  object-fit: cover;
  display:block;
  border-radius:15px 15px 0 0;
  height:200px;
  width:100%;
}
.link-item-index{
  text-decoration: none;
  cursor:pointer;
}
/* .all {
  display:flex;
  flex-wrap:wrap;
  margin:0 2em 0 2em;
} */
.link-item-index{
  flex:1;
}
.title-div{
  display:flex;
  justify-content: center;
}