
.all{
  height: 100vw;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: gray;
}

.images-index{
    width: 100%;
    height: 12.6vw;
}

.each-recipe{
    width: 15%;
    height: 15vw;
    margin: 2%;
    border: 4px solid gray;
    cursor: pointer;
    overflow-wrap:break-word
}

.title-index{
    font-size: 1.3vw;
    color: whitesmoke;
    position: relative;
    text-align:center;
    top: 14%;
    overflow-wrap:break-word
}

.title-div{
    height: 2.5vw;
    position: relative;
    bottom: 1.3%;
    background-color: black;
}

.link-show{
    text-decoration: none;
}

