/* not logged in review*/

.signup-log-review-link {
  border: black;
  padding: 1em 2em;
}

.sign-up-log-in-review {
  display: flex;
  justify-content: space-evenly;
}
.link-login-review{
  text-decoration:none;
}
.signup-log-review-link-div{
border: solid 1px;
  padding: 0.5em 1em;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.not-signed-in-review {
  border:solid 2px black;
  padding:2em;
  margin-top: 3em;
}
.must-be-signed{
  margin:0;
  margin-bottom:1em;
  font-weight:600;
  color: #2f2fa2;
}

/* Reviews and likes */
.zero-star-icons,.one-star-icons, .one-half-icons, .two-star-icons, .two-half-icons,.third-half-icons,.third-star-icons,.fourth-star-icons,.fourth-half-icons,.fifth-star-icons {
  display: flex;
  color: #2f2fa2;
}
/* Ingredients */
.div-ingredientservings,.div-instruction-difficulty {
  display:flex;
  font-size:1.5rem;
  background-color: #2f2fa2;
  color:white;
  padding:0.2em;
  justify-content: center;
}

.ingredients-word{
  font-weight:900;
}
.show-ingredient-inner {
  line-height: 1.7;
}
.instruction-show-inner,.show-ingredient-inner{
  padding:0.6em 0.4em 0.6em 0.4em;
}
.show-img {
  height:400px;
  width:100%;
  object-fit: cover;
}
.left-show{
  width:60%;
  margin:0 auto;
  margin-bottom:2em;
}
.below-ingredient-title,.instruction-show{
  box-shadow:0 1px 5px 0 rgb(0 0 0 / 8%);
  width:60%;
  margin:0 auto;
}
.instruction-show {
  margin-top:2em;
}
.outermost-show {
  margin-top:1.5em;
}
.show-title-p{
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom:0.5em;
}