.outermost-show {
  height: 200vh;
  width: 100%;
  background-color: gray;
  position: relative;
}

.right-left {
  height: 55vw;
  width: 100%;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 6vw;
}

.left-show {
  border: 1px solid black;
  width: 35%;
  height: 40vw;
  padding: 1%;
  position: relative;
  left: 7%;
  top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
}

.show-img {
  width: 30vw;
  height: 18vw;
  position: relative;
  left: 4%;
  top: 3.5%;
}

.listing-detail {
  font-size: 0.8vw;
  font-family: sans-serif;
  line-height: 1.4vw;
  color: whitesmoke;
  position: relative;
}

.show-author {
  position: relative;
  left: 1.3vw;
  bottom: 1vw;
}

.show-author-p {
  color: white;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

.right-show {
  width: 40%;
  height: 100%;
  /* padding: 1%; */
  position: relative;
  top: 2%;
}

.show-title {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  position: relative;
}

.show-title-p {
  position: relative;
  font-size: 2vw;
  text-align:center
}

.lishing-show-ingredient {
  display: flex;
  flex-direction: column;
  line-height: .7vw;
}

.ingredients-word,
.instruction-word {
  font-size: 1.6vw;
  text-decoration: underline;
}

.below-ingredient-title {
  background-image: url("https://global-cuisine.s3.us-west-1.amazonaws.com/show-bkg.png");
  padding: 3%;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 25vw; */
  
}

.show-ingredient-inner {
  font-size: 0.9vw;
  position: relative;
  line-height: 1.2vw;
  top: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
  -moz-white-space: pre-wrap;   
  white-space: pre-wrap;
}

.instruction-show {
  background-image: url("https://global-cuisine.s3.us-west-1.amazonaws.com/show-bkg.png");
  padding: 3%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 2vw;
}

.instruction-show-inner {
  line-height: 1.2vw;
  position: relative;
  top: 1vw;
  font-size: 0.9vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
    -moz-white-space: pre-wrap;   
  white-space: pre-wrap;
}

.detail-padding {
  padding: 3%;
  position: relative;
  bottom: 2vw;
  overflow-wrap: break-word;
}

.p {
  color: white;
}

.edit-div {
  border: 1px solid gray;
  width: 8vw;
  height: 1.2vw;
  padding: 1%;
  position: relative;
  left: 35%;
  text-decoration: none;
}

.updateOrdelete {
  font-family:Arial, Helvetica, sans-serif;
  font-size: .9vw;
  color: whitesmoke;
  position: relative;
  top: 0.2vw;
  text-align: center;;
}

.edit-show-link {
  text-decoration: none;
}

.notloggedIn-review {
  border: 2px solid black;
  width: 36vw;
  padding: 1%;
  height: 5vw;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  position: relative;
  left: 12.5vw;
  justify-content: space-around;
}

.signorlog-review {
  display: flex;
  width: 23vw;
  justify-content: space-evenly;
  position: relative;
  left: 6vw;
}

.signup-review{
    border: 1px solid black;
    background-color: black;
    width: 13vw;
    height: 2vw;
}

.login-review{
    border: 1px solid black;
    background-color: black;
    width: 7vw
}

.link-sign-review, .link-login-review{
    color: gray;
    text-decoration: none;
    position: relative;
    left: 1vw;
    top: 0.25vw;
    
}

.review-loggedIn{
    border: 2px solid black;
    width: 35vw;
    height: 19vw;
    position: relative;
    left: 14vw;
}

.reviews-create-show{
    display: flex;
    flex-direction: column;
}

.leave-review-div{
    border-bottom: 2px solid black;
    height: 2vw;
   
}

.leave-review-inner{
    position: relative;
     text-align:center;
    font-size: 1.7vw;
}

.name-input-review, .body-input-review, .score-input-review{
    display: flex;
    border: 1px solid black;
    height: 3.3vw;
    font-size: 1.4vw;
    font-weight: 500;
    width: 23vw;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 6vw;
    justify-content: space-evenly;
    top: 1vw;
    align-items: center;
}

.name-input-show, .body-input, .score-input{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid lightgray;
    width: 15vw;
    height: 2vw;
    background-color: black;
    color: white;
    resize:none;
    font-size: 1vw;
}

.div-button-review{
    position: relative;
    top: 1.9vw;
    left: 13vw;
    width: 9vw;
}

.Create-Review-Button{
    width: 9vw;
    height: 3vw;
    background-color: gray;
    font-size: 1.1vw;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}
.Create-Review-Button:hover{
    width: 9vw;
    height: 3vw;
    background-color:black;
    color:whitesmoke;
    font-size: 1.1vw;
    border: 2px solid grey;
}
.review-errors{
    color: darkred;
    position: relative;
    left: 1vw;
}

.break-line-above-reviews{
    border: 1px solid black;
    width: 82vw;
    height: 0vw;
    position: relative;
    top: 10vw;
    left: 12vw;
}

.review-index-show{
    position: relative;
    top: 12vw;
}

.no-reviews-show{
    border: 1px solid black;
    width: 15vw;
    height: 3vw;
    position: relative;
    left: 45vw;
    top: 3vw;
}

.no-reviews-show p {
    position: relative;
    text-align: center;
     font-size: 2vw;
     top: 0.7vw;
}

.reviews-title{
    border-bottom: 2px solid black;
    width: 82vw;
    height: 2vw;
    font-size: 2vw;
    position: relative;
    left: 12vw;
}

.reviews-title p {
    position: relative;
    left: 37vw;
}

.review-index-item{
    border-bottom: 1px solid black;
    width: 82vw;
    position: relative;
    left: 12vw;
    top: 2vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.3vw;

}

.title-of-all-reviews{
    position: relative;
    top: 1vw;
}

.delete-review-show{
    position: relative;
    left: 80vw;
    bottom: 3vw;
    width: 6vw;
    height: 1.3vw;
}

.like-index-stars{
  display: flex;
  position: relative;
  bottom: 1vw;
  height: 2vw;
  width: 32.4vw;
  /* justify-content: space-between; */
  align-items: center;
  left: 1.3vw;
}

.zero-star-icons, .fifth-star-icons, .one-star-icons, .fourth-half-icons, .two-star-icons, .third-star-icons, .fourth-star-icons, .fifth-star-icons, .one-half-icons, .two-half-icons, .third-half-icons{
  display: flex;
}

.fourth-star-icons, .fifth-star-icons, .third-half-icons, .fourth-half-icons, .third-star-icons, .two-half-icons, .two-star-icons, .one-half-icons, .one-star-icons, .zero-star-icons{
  color: red
}


.rating-star-length{
  font-size: 1.1vw;
}

.star-div{
  cursor: text;
}

.btn-delete-review-show{
  border: 1px solid black;
  font-size: 0.8vw;
}

.div-ingredientservings{
  display: flex;
  width: 14vw;
  justify-content: space-around;
}

.servings-show, .difficulty-show{
  font-size: 1vw;

}

.div-instruction-difficulty{
  display: flex;
  width: 20vw;
  justify-content: space-around;
}