.outer-div-home{
  background-image: url(https://global-cuisine.s3.us-west-1.amazonaws.com/bkg2.jpeg);
  height: 80vw;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 65%;
  position: relative;
  /* bottom: 1vh; */
}

.inner-div{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0);
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* top: 0;
    left: 0; */
}


.home-phase{
    font-size: 2.5vw;
    position: relative;
    left: 30vw;
    top: 1.8vw;
}

.below-home-phase{
    font-size: 2vw;
    position: relative;
    left: 35vw;
    top: 2vw;
}

.detail-home{
    position: relative;
    top: 5vw;
}


