.like-index-create{
  display:flex;
}
.like-index-stars{
  display:flex;
  justify-content: space-between;
}
.like-index{
  display:flex;
}
.likes-list-class{
  margin-left:0.5em;
}
.thumbs-up-button,.thumbs-down-button{
  appearance: none;
  cursor:pointer;
  background:none;
  border:none;
  margin:0;
  padding:0;
  font-size:1rem;
  color: #2f2fa2;
}
