@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
.navbar-top {
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight:600;
}
.links-nav{
  display:flex;
  align-items: center;
  margin-right:3em;
  justify-content: space-evenly;
  list-style: none;
  padding-left:0;
  margin-left:0;
}
.links-nav li {
  margin-right:0;
  margin-left: 1em;
}
.demo-login{
  cursor:pointer;
}
.logout-btn{
  cursor: pointer;
}
.link-on-nav{
    text-decoration: none;
    color: #2f2fa2;
    cursor:pointer;
}

.icon-and-title{
  margin:0 3em 0 2em;
  display: flex;
  align-items: center;
}
#globe-icon{
  margin-right:1em;
  font-size:3em;
  color:#2f2fa2
}
.text-global,.search-icon-div{
  color:#2f2fa2
}
.text-global{
  font-size:1.5rem;
}
.logout-demo-button{
  appearance: none;
  background-color: white;
  font-family:inherit;
  border:none;
  font-weight:600;
  color: #2f2fa2;
  font-size:inherit;
  cursor:pointer;
}