.edit-recipe-form{
   width: 100%;
   height: 100vw;
   background-color: gray;
   font-family: 'Helvetica', 'Arial', sans-serif;
}
.edit-form{
    border: 1px solid black;
    width: 90%;
    position: relative;
    left: 5vw;
    top: 5vw;
    height: 80%;
    display: flex;
    justify-content: center;
}
.edit-name-create, .edit-title-create, .edit-serving-create, .edit-country-create, .edit-difficulty-create{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 5.2vw;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 1vw;
    top: 8vw;
}
.edit-description-create{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 12vw;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 1vw;
    top: 11vw;
    font-family:inherit
}
.edit-text-recipe{
  position: relative;
  left: 28vw;
  top: 2vw;
  font-size: 1.8vw;
  width: 20vw;
  height: 4vw;
  text-decoration: underline;
}
.edit-ingredients-create{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 8vw;
    height: 40%;
}
.edit-instruction-create{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 9vw;
    height: 40%;
}
.edit-upload-photo-create{
    width: 12vw;
    height: 12vw;
    position: relative;
    left: 2vw;
    top: 12vw;
}
.edit-picture-create{
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
     position: relative;
    top: 15vw;

}

.recommended-photo-edit{
    position: relative;
    top: 1vw;
    font-size: 0.8vw;
}

.edit-name-text, .edit-title-text{
   font-size: 1vw;
   position: relative;
   top: 0.1vw;
}
.edit-picture-text {
   font-size: 1vw;
   position: relative;
   bottom: 1vw;
   right: 3.3vw;
}



.edit-serving-text, .edit-country-text, .edit-difficulty-text{
   font-size: 1vw;
   position: relative;
   top: 1.2vw;
}
.edit-description-text{
   font-size: 1vw;
   position: relative;
   top: 0.2vw;
   right: 5vw;
}
.edit-ingredients-text, .edit-instruction-text{
    font-size: 1vw;
    position: relative;
}
.edit-name-input, .edit-title-input{
  font-family: Arial, Helvetica, sans-serif;
   width: 13vw;
   height: 2vw;
   background: transparent;
   border: 2px solid black;
   padding: 1%;
   font-size: 1vw;
}
.edit-servings-input{
  font-family:Arial, Helvetica, sans-serif;
   width: 13vw;
   height: 2vw;
   background: transparent;
   border: 2px solid black;
   padding: 1%;
   font-size: 1vw;
}
.edit-description-input {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1vw;
  resize:none;
   background: transparent;
   border: 2px solid black;
   width: 30vw;
   height: 17vw;
   position: relative;
   top: 0.8vw;
   padding: 1%;
}
.edit-ingredients-input, .edit-instruction-input{
   background: transparent;
   font-family:Arial, Helvetica, sans-serif;
   border: 2px solid black;
   width: 37vw;
   height: 20vw;
   padding: 1%;
   font-size: 1vw;
   resize: none;
}
.edit-difficulty-input, .edit-country-input{
    width: 13vw;
    height: 2.5vw;
    font-family:Arial, Helvetica, sans-serif;
    background: transparent;
    border: 2px solid black;
    padding: 1%;
    font-size: 1vw;
}
.edit-form-photo{
    width: 30vw;
    height: 20vw;
    position: relative;
    top: 12vw;
    left: 1vw;
}
.edit-center-recipe{
    width: 60%;
    height: 60%;
    position: relative;
    left: 7vw;
    top: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.edit-right-form{
    position: relative;
    right: 18vw;
    bottom: 1vw;
}
.edit-submit-delete-button{
    position: relative;
    left: 5vw;
    top: 10vw;
    background-color: black;
    width: 8vw;
    height: 2vw;
    color: white;
    font-size: 1.3vw;
}
.edit-submit-input-create{
     background: transparent;
     font-size: 1vw;
     color: white;
     width: 8vw;
     height: 2vw;
}
.edit-left-right-form{
    display: flex;
}
.edit-left-form{
    width: 60%;
    position: relative;
    right: 28vw;
    bottom: 1.3vw;
}
.edit-submit-input{
    width: 5vw;
    height: 1.2vw;
    background: transparent;
    border: 1px solid gray;
    font-size: 0.7vw;
}
.edit-errors-create{
    position: relative;
    left: 65vw;
    bottom: 7vw;
    color: darkred;
    font-size: 1vw;
}
.edit-uploadpic-create{
    font-size: 0.7vw;
}
.edit-letter-count-details{
  position:relative;
  padding:5px;
  font-size:0.7vw;
  position: relative;
  top: 1vw;
}
.edit-letter-count-name, .edit-letter-count-title, .edit-letter-count-ingredient, .edit-letter-count-instruction{
  position:relative;
  padding:5px;
  font-size:0.7vw;
}