.rec-form-input,.longer-inputs,.select-input {
  display:block;
  margin-top:1em;
}
.left-form,.right-form,.final-row-create {
  display: flex;
}
.heading-recipe-text{
  text-align: center;
  text-transform: uppercase;

}
.center-recipe{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;;
}
.form-box-create {
  margin-right: 2em;
}
.letter-count,.recommended-photo {
  font-size: .8rem;
  margin-top: .5em;
  margin-bottom: 0;
  overflow-wrap: break-word;
}
.long-div-create {
  margin-right: 2em;

}
.longer-inputs{
  width:20em;
  height:18em;
}
.right-form{
  margin-top:2em;
}
.create-recipe-form {
  margin-top: 2em;
}
.upload-photo-create {
  width: 100%;
  height: 15em;
  object-fit: cover;
}
.picture-create{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17em;
  margin-right:2em;
}
.errors-create{
  width:17em;
  margin-right:2em;
}
.submit-recipe-create{
  width:17em;
}