.rec-form-input,.longer-inputs,.select-input {
  display:block;
  margin-top:1em;
}
.left-form,.right-form {
  display: flex;
}
.heading-recipe-text{
  text-align: center;
  text-transform: uppercase;

}
.center-recipe{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;;
}
.form-box-create {
  margin-right: 2em;
}
.letter-count {
  font-size: .8rem;
  margin-top: .5em;
  margin-bottom: 0;
}