.title-review{
  margin:0;
  font-size:1.2rem;
  font-weight:600;
}
.leave-review-inner {
  font-size:2.5rem;
  font-weight:900;
  margin-top:0;
  margin-bottom:.8em;
  text-align:center;
}
.review-signedIn {
  /* border:solid black 2px; */
  display:flex;
  justify-content:center;
}
.review-logged-in{
  padding:2em 4em;
  border:solid 1px black;
}
.title-review {
  margin-top:0;
  margin-bottom:1em;
  color: #2f2fa2;
}
.body-input-review,
.name-input-review,
.score-input-review {
  margin-bottom:1em;
}
.name-review{
  color: #2f2fa2;
  font-size:1.5rem;
  text-align:left;
  font-weight:600;
}
.body-input-review textarea{
  width:90%;
  font-family: inherit;
  font-size:1rem;
  padding:.5em;
  height:4.5em;
  resize:none;
  border:solid 1.5px black;
  border-radius:13px;
  font-family:inherit;
}
.Main-Review-Form{
  margin-top:4em;
}
.score-subtext {
  font-size:.8rem;
  color:red;
  margin:.5em 0 0 0 ;

}
.score-name-input {
  border: solid 1.5px black;
  border-radius: 8px;
  padding: .5em;
  font-size: 1rem;
  font-family:inherit;
}
.create-review-button,.btn-delete-review-show {
  appearance: none;
  background-color: black;
  padding:.5em 1.25em;
  font-size:1.2rem;
  border-radius: 7px;
  color: white;
  border: solid 1px #2f2fa2;
  margin: 1em 0 0 0;
  transition:0.45s;
  cursor:pointer;
}
.create-review-button:hover,.btn-delete-review-show:hover {
  color:black;
  background-color: white;
}

.review-and-button {
  border-bottom: 1px solid lightgrey;
  padding-bottom:1em;
  padding-top:1em;
}
.review-list {
    margin-top:.5em;
    padding-inline-end: 40px;
}
.reviewer-name{
  font-weight:900;
  color: #2f2fa2;
  text-transform: uppercase;
}
.reviews-title{
  padding-inline-start: 20px;
  margin-bottom:0
}
.btn-delete-review-show{
  font-size:.8rem;
  margin:0
}