.profile-outer {
  display:flex;
  justify-content: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top:2em;
}

.profile-username,
.recipe-container,
.like-profile{
  flex:1;
  margin-right:2em;
}
.like-profile:last-child{
  margin-right:0;
}
.profile-username p, .recipe-container h3,.like-title{
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 0;
}
.images-profile {
  width: 100%;
  object-fit: cover;
  display: block;
}
.title-profile{
  text-align: center;
  color:#fff;
  margin: 0;
  padding: 0.5em 0;
  background-color: black;
  font-size:1.3rem;
  font-weight: bold;
  letter-spacing: .5px;
}
.link-profile {
    text-decoration: none;
}
.profile-recipe-title-image {
  margin-bottom:1em;
}
.l-create-recipe{
  text-decoration: none;
  line-height:1.2em;
  font-size:1.3rem;
  color:black;
  font-weight: 900;
}
.p-not-detail{
  font-size:1.2rem;
  margin-bottom: 0.8em;
  margin-top: 0;
}
.create-button{
  background-color: black;
  appearance: none;
  border:none;
  color:white;
  display: inline-block;
  cursor: pointer;
  padding: .9em 1.5em;
  border-radius: 4px;
  font-size:1.2rem;
}
.link-create-profile{
  margin-left:auto;
  margin-right:auto;
}
.no-recipe{
  display: flex;
  flex-direction: column;
  align-items: center;
}