.user-recipe{
    width: 15.25vw;
    /* height: 8vh; */
    margin: 3%;
    cursor: pointer;
    position: relative;
    left: 4vw;
}

.link-profile{
    text-decoration: none;
}

.images-profile{
    width: 100%;
    height: 97.88%;
}

.listing-title-profile{
    position: relative;
    background-color: black;
    width: 70%;
}

.title-p-profile{
    font-size: 1.3vw;
    color: gray;
    position: relative;
    left: 2.8vw;
    top: 14%;
}

.profile-outer{
    background-color: gray;
    width: 100%;
    height: 200vh;
}


.detail-no-recipe{
    background-color: #c0c0c0;
    height:60%;
    padding: 4%;
    border: 2px solid black;
    width: 20vw;
    height: 5vw;
    position: relative;
    left: 8vw;
    top: 6vw;
}

.username-no-recipe{
    border: 1px solid black;
    height: 2vw;
    background-color: black;
    color: gray;
    font-size: 1.3vw;
}

.p-username-no-recipe{
    position: relative;
    left: 10vw;
    top: 0.5vw;
}

.not-detail{
    position: relative;
    top: 1vw;
    /* font-size: 1.1vw; */
}

.link-create-profile{
    position: relative;
    top: 3vw;
    left: 6vw;
    height: 2vw;
    border: 1px solid black;
    width: 6vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-create-recipe{
    text-decoration: none;
    color: ghostwhite;
    position: relative;
    font-size: 0.9vw;
}

.p-not-detail{
    font-size: 1.1vw;
}

.yes-recipe-outer{
    /* border: 2px solid black; */
    width:  25vw;
    position: relative;
    left: 10vw;
    top: 5vw;

}

.profile-recipe-title-image{
    display: flex;
    width: 15vw;
}

.title-profile{
    color: whitesmoke;
    position: relative;
    left: 0.7vw;
    top: 1.7vw;
    font-size: 0.8vw;
}

.your-recipe{
    border: 1px solid yellow;
    height: 2vw;
    background-color: black;

}

.p-your-recipe{
    color: whitesmoke;
    position: relative;
    left: 9vw;
    font-size: 1.3vw;
    top: 0.4vw;
}

.profile-username{
    width: 20vw;
    height: 2vw;
    position: relative;
    left: 40vw;
    top: 1vw;
}

.profile-username p{
    color:whitesmoke;
    font-size: 2vw;
}

.div-image-profile{
    width: 10vw;
}

.likesAndCreate{
    display: flex;
    width: 80vw;
    height: 80%;
    position: relative;
    left: 10vw;
    top: 5vw;
}

.no-like{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    position: relative;
    left: 20vw;
    top: 5.05vw;
    width: 20vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.allLikeTitle{
    border: 1px solid yellow;
    position: relative;
    left: 20vw;
    top: 5vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    color: whitesmoke;
    background-color: black;
}

.yes-like-outer{
    position: relative;
    left: 20vw;
    top: 5vw;
    width:  25vw;
}