.searchInputs{
  display:flex;
  align-items: center;
  border-radius: 15px;
  border: solid 1px black;
}
.searchInputs input {
  font-size: 1rem;
  margin: 5px 0 5px 10px;
  appearance: none;
  border:none;
  outline:none;
}
.listingResult {
  position: absolute;
  background-color: whitesmoke;
}