.searchInputs{
  display:flex;
  align-items: center;
  border-radius: 15px;
  border: solid 1px black;
}
.searchInputs input {
  font-size: 1rem;
  margin: 5px 0 5px 10px;
  appearance: none;
  border:none;
  outline:none;
}
.listingResult {
  position: absolute;
  background-color: whitesmoke;
}
.dataItem{
 cursor:pointer;
}
.dataItem p {
  margin-top:0;
  margin-bottom:1em;
  font-size:.8rem;
  font-weight:400;
}

.dataItem p:first-child{
  margin-top:.4em;
}

.dataItem p:last-child {
  margin-bottom: .2em;
}