.single{
    box-shadow: 1px 1px 4px 1px grey;
    margin: 10px;
    padding: 10px;
}

@media screen and (min-width: 664px){
    .products-center{
        display: flex;
        flex-wrap: wrap;
    }

    .single{
        flex: 0 0 calc(50% - 20px)
    }
}

.btns{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.bthns button{
    padding: 5px 10px;
    margin: 10px 10px;
}

.link-filter{
    text-decoration: none;
}

.images-filter{
    width: 10vw;
    height: 8vw;
}

.title-div-filter{
    height: 2vw;
    position: relative;
    bottom: 1.3%;
    width: 10vw;
    background-color: black;
}

.title-filter{
    font-size: 1vw;
    text-align:center;
    color: whitesmoke;
    position: relative;
    top: 0.5vw;
    overflow-wrap:break-word;
}

.btns button{
    background-color: black;
    color: whitesmoke;
    width: 5.8vw;
    height: 2vw;
    font-size: 1.2vw;
    cursor: pointer;
   
}

.btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
}

.filter-item{
    width: 22%;
    margin: 1%;
}

.filter-index{
    width: 80vw;
    height: 40vw;
    position: relative;
    top: 4vw;
}

.filter-recipes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
    top: 10%;
}