.home-page-btns {
  display:flex;
  justify-content: center;  
  flex-shrink: 1;
  flex-wrap:wrap;
}
.home-page-btns button{
  display:inline-block;
  margin-left:1em;
}
.home-page-btns button:first-child {
  margin-left:0;
}
.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}
.filter-recipes {
  display:flex;
  justify-content: space-around;
}

.images-filter{
  width:30%;
}
