.home-page-btns {
  display:flex;
  justify-content: center;  
  flex-shrink: 1;
  flex-wrap:wrap;
}
.home-page-btns button{
  display:inline-block;
  margin-left:1em;
  cursor: pointer;
  appearance: none;
  font-size:1rem;
  font-family:inherit;
  background-color: white;
  appearance: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border:solid 1.5px #2f2fa2;
  border-radius:5px;
  font-weight:700
}
.home-page-btns button:first-child {
  margin-left:0;
}
.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}
.filter-recipes {
  display:flex;
  justify-content: space-around;
}

.title-filter{
  text-align:center;
  margin-bottom: .8em;
}

.images-filter {
  width:100%;
  height:68%;
  object-fit: cover;
  display:block;
}

.filter-item-image{
  flex:1;
}